JWT_SECRET_KEY=your_jwt_secret_key
GOOGLE_CLIENT_ID=your_google_client_id

# Local development password reset settings.
SMTP_EMAIL=your_smtp_email
SMTP_PASSWORD_FILE=../infra/secrets/smtp_password
PASSWORD_RESET_URL=http://localhost:3000/reset-password
